<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937547743022-gkklltrish33ibeem7d6ksmgk6ib4opc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937547743022-gkklltrish33ibeem7d6ksmgk6ib4opc</string>
	<key>API_KEY</key>
	<string>AIzaSyDy81lpHSGjXMVRxeI3FV9uOvc7ACpn4yA</string>
	<key>GCM_SENDER_ID</key>
	<string>937547743022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booh.uitest.Login-page</string>
	<key>PROJECT_ID</key>
	<string>login-bb7da</string>
	<key>STORAGE_BUCKET</key>
	<string>login-bb7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937547743022:ios:e831c6afbc271031ca04bf</string>
</dict>
</plist>